/* Stile di base del footer */
.footer-style {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background-color: #333;
  z-index: 0;
}
footer {
  width: 100%; /* Occupa l'intera larghezza della viewport */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background-color: #333;
}
footer.footer-style a {
  text-decoration: none;
}
footer a {
  text-decoration: none;
}
/* Stili per le icone social */
.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 15px;
  display: inline-flex;
}

.social-icons svg {
  width: 30px;
  height: 30px;
  color: #ffffff;
  transition: all 0.2s ease;
}

.social-icons svg:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

/* Per schermi grandi (desktop) */
@media (min-width: 992px) {
  footer.footer-style {
    padding: 25px 0;
  }
}

/* Per schermi medi (tablet landscape) */
@media (max-width: 992px) {
  .social-icons svg {
    width: 25px;
    height: 25px;
  }
  .footer-style {
    padding: 20px 0;
    position: static;
  }
  .social-icons a {
    margin: 0 10px; /* Riduci lo spazio tra le icone per schermi medi */
  }
}

/* Per schermi piccoli (tablet portrait) */
@media (max-width: 768px) {
  .footer-style {
    padding: 20px 0;
    position: static;
  }
}

/* Per schermi molto piccoli (smartphone) */
@media (max-width: 576px) {
  .social-icons svg {
    width: 20px;
    height: 20px;
  }
  .footer-style {
    padding: 20px 0;
    position: static;
  }
}
