/* file Login.css */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra il contenuto orizzontalmente */
  justify-content: center; /* Centra il contenuto verticalmente */
  /* Assicura che il form occupi tutta l'altezza della viewport */
  background-color: #f5f5f5; /* Sfondo grigio chiaro */
  padding: 20px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333; /* Colore del titolo */
  text-align: center; /* Centra il titolo */
}

.login-form form {
  /* Aggiunto selettore per il form */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px; /* Aggiunto padding al form */
  border-radius: 8px;
  background-color: #fff; /* Sfondo bianco per il form */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombra più evidente */
}

.login-form .form-group {
  margin-bottom: 1px;
}

.login-form .form-group {
  width: 70%; /* Rendi i campi di input a larghezza intera */
  max-width: 400px; /* Limita la larghezza massima del form */
  margin-bottom: 15px;
}

.login-form .form-control {
  padding: 15px; /* Aumenta la padding interna */
  border-radius: 8px; /* Angoli arrotondati */
  border: 1px solid #ccc; /* Bordo grigio chiaro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

.login-form .form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form .btn-primary {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  background-color: #007bff; /* Colore primario */
  border-color: #007bff;
  transition: background-color 0.3s ease; /* Transizione per il colore di sfondo */
}

.login-form .btn-primary:hover {
  background-color: #0069d9; /* Colore più scuro al passaggio del mouse */
}

.google-login-button {
  width: 100%;
  background-color: #4285f4; /* Colore di sfondo Google */
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.google-login-button:hover {
  background-color: #3367d6; /* Colore più scuro al passaggio del mouse */
}
