.card-details {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}
.card-img-top {
  object-fit: fill;

  width: 100%;
  height: 600px; /* Imposta l'altezza desiderata per il contenitore dell'immagine */
}
.comments-section {
  margin-top: 20px;
}

.comment-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}
